In [1]:
from config import hyperParams
from utils import cf
import os

In [2]:
save_path = "./data/cf/"
df_train = cf.load_data(hyperParams)
if not os.path.exists(save_path + 'itemcf_item2item_sim.pkl'):
    _ = cf.itemcf_sim(df_train, save_path)
item_count_map = cf.get_item_click_num(df_train)

In [3]:
df_test = cf.load_data(hyperParams, stage="test")
user_label_dict = cf.get_user_label(df_test)
user_recall_items_dict = cf.itemcf(df_test, item_count_map, save_path)

D:\Pythonfile\ECE143\project\utils\cf.py:69: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  user_item_time_df = df.groupby("User_ID")["Pos_click", "Timestamp"].apply(lambda x: make_item_time_pair(x)).reset_index().rename(columns={0: "item_time_list"})
100%|█████████████████████████████████████████████████████████████████████████| 50000/50000 [00:03<00:00, 15348.11it/s]

In [4]:
recall_df = cf.get_recall_df(user_recall_items_dict)

100%|█████████████████████████████████████████████████████████████████████████| 50000/50000 [00:00<00:00, 84356.96it/s]

In [9]:
label_df = cf.get_label_df(user_label_dict)

100%|████████████████████████████████████████████████████████████████████████| 50000/50000 [00:00<00:00, 969328.54it/s]

In [10]:
recall_df.head(20)

   user_id                                   click_article_id
0   U13740  [N98178, N32154, N30899, N47257, N7937, N3664,...
1   U91836  [N98178, N32154, N30899, N47257, N7937, N3664,...
2   U73700  [N98178, N32154, N30899, N47257, N7937, N3664,...
3   U34670  [N81684, N69482, N49216, N116913, N128456, N48...
4    U8125  [N29721, N46772, N9240, N104236, N47011, N5494...
5   U19739  [N98178, N32154, N30899, N47257, N7937, N3664,...
6    U8355  [N56278, N36327, N66809, N9935, N43698, N12586...
7   U46596  [N98178, N32154, N30899, N47257, N7937, N3664,...
8   U79199  [N81684, N21400, N56602, N32757, N53372, N8870...
9   U53231  [N62803, N98172, N51200, N46515, N128473, N210...
10  U89744  [N63073, N98426, N87837, N124095, N84169, N126...
11  U10045  [N100468, N58255, N62115, N48197, N68410, N481...
12  U92486  [N42813, N28966, N126173, N53145, N35831, N220...
13  U29155  [N74468, N79850, N19512, N11566, N26514, N5627...
14  U63162  [N98178, N32154, N30899, N47257, N7937, N3664,...
15  U17841  [N86126, N113740, N81577, N92864, N50591, N977...
16   U8312  [N114697, N80429, N60500, N88814, N121068, N31...
17  U11306  [N81684, N69482, N49216, N116913, N128456, N48...
18  U38627  [N81684, N21400, N53372, N8870, N24096, N18833...
19  U47654  [N33011, N108049, N102958, N81374, N18110, N43...

In [11]:
label_df.head(20)

   user_id                                   click_article_id
0   U13740                                           [N58133]
1   U91836                                           [N56117]
2   U73700                                   [N47817, N34117]
3   U34670                                   [N32544, N62360]
4    U8125                                            [N8400]
5   U19739                                           [N33689]
6    U8355                                           [N55204]
7   U46596                                   [N55949, N54321]
8   U79199                                           [N32544]
9   U53231                                           [N41881]
10  U89744                                           [N52622]
11  U10045                                           [N43502]
12  U92486                           [N34998, N18103, N58363]
13  U29155                                           [N59390]
14  U63162                           [N41979, N16120, N61233]
15  U17841  [N5688, N57426, N43102, N54003, N27932, N4615,...
16   U8312                                           [N15224]
17  U11306                                   [N20076, N35170]
18  U38627                                           [N23446]
19  U47654                                            [N4661]